<form action="/edit/<%= post._id %>?_method=PUT"
method="POST">

<input
name="title"
value="<%= post.title %>"
>

<textarea name="content">
<%= post.content %>
</textarea>

<button>Update</button>

</form>